.testDiv {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

.mainApp {
    display: flex;
    height: 100vh; 
}
.navbar {
    width: 20%; 
    background-color: #1f2937; 
    color: white; 
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    overflow-y: auto; 
  }
  
  .rest {
    width: 80%;
    padding: 1rem; 
    overflow-y: auto; 
    background-color: #407bcd; 
  }